<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/comp.css">
</head>
<body>
    <h1>New Article</h1>
    <form action="/compose" method="post">
        <label id="first" for="title">Title</label>
        <input type="text" name="title" placeholder="title" required>
        <label id="second" for="dec">Description</label>
        <textarea id="text" name="content" placeholder="Content" required></textarea>
        <button id="btn1" type="submit">save</button>
        <button id="btn2"><a href="/">Cancel</a></button>
    </form>
</body>
</html>

